<h1 class="mb-3">Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field my-2 form-group">
    <%= f.label :email %><br />
    <%= image_tag("images.png", {:style => "width:21px;"}) %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field my-2 form-group">
    <%= f.label :password %><br />
    <%= image_tag("pass.png", {:style => "width:16px;"}) %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: "button-custom my-3" %>
  </div>
<% end %>

<%= render "devise/shared/links"%>
